.leaderboard {
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.leaderboard .collapse-button {
    font-size: 25px;
}

.leaderboard .collapse-button:hover {
    cursor: pointer;
}