.App {
  text-align: center;
}

.countdown-picture {
  height: 90vmin;
  pointer-events: none;
  user-select: none;
}

.App-header {
  background-color: #000000;
  /* background-color: #0a0102; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #f6e3b2;
}

.countdown-wrapper {
  border: 1px solid #f6e3b2;
  padding: 16px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.countdown-box {
  margin: 8px;
  min-width: 132px;
}

.countdown-number {
  font-size: 68px;
}

.countdown-text {
  font-size: 12px;
  font-weight: 300;
  padding: 8px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}